@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
    :root {
      --text: #050316;
      --background: #d1d1e1;
      --primary: #118cdf;
      --secondary: #148f70;
      --accent: #149f4e;
      --primaryGradient: linear-gradient(180deg, #2E4563 0%, #25283E 47%, #1E1E2E 64%);
    }
    .dark {
      --text: #ebe9fc;
      --background: #1E1E2E;
      --primary: #229DEE;
      --secondary: #71EBCC;
      --accent: #5EEB98;
      --primaryGradient: linear-gradient(180deg, #2E4563 0%, #25283E 47%, #1E1E2E 64%);
    }
    @import url('https://fonts.googleapis.com/css?family=Poppins:700|Poppins:400');

    body {
      font-family: 'Poppins', sans-serif;
      font-weight: 400;
    }

    h1, h2, h3, h4, h5 {
      font-family: 'Poppins', sans-serif;
      font-weight: 700;
    }

    html {font-size: 100%;} /* 16px */

    h1 {font-size: 4.210rem; /* 67.36px */}

    h2 {font-size: 3.158rem; /* 50.56px */}

    h3 {font-size: 2.369rem; /* 37.92px */}

    h4 {font-size: 1.777rem; /* 28.48px */}

    h5 {font-size: 1.3rem; /* 21.28px */}

    small {font-size: 0.85rem; /* 13px */}
  }
  