@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
    :root {
      --text: #050316;
      --background: #d1d1e1;
      --primary: #118cdf;
      --secondary: #148f70;
      --accent: #149f4e;
    }
    .dark {
      --text: #ebe9fc;
      --text-subtitle: #b1b1d1;
      --background: #1E1E2E;
      --primary: #229DEE;
      --secondary: #71EBCC;
      --accent: #5EEB98;
      --shades-accent: #18C35F;
      --shades-secondary: #365a5c;
      --primary-gradient: linear-gradient(180deg, #2E4563 0%, #25283E 47%, #1E1E2E 64%);
    }
    
    .text-gradient {
      background: linear-gradient(90deg, #229DEE 0%, #71EBCC 50%, #5EEB98 100%);;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    .shadow-gradient::before {
      content: '';
      position: absolute;
      top: 10px;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: -1; /* Asegura que la sombra esté debajo del botón */
      border-radius: inherit; /* Asegura que la sombra tenga los mismos bordes redondeados que el botón */
      background: var(--shades-accent);
      filter: blur(15px); /* Ajusta el desenfoque para simular una sombra */
    }

    @import url('https://fonts.googleapis.com/css?family=Poppins:700|Poppins:400');

    body {
      font-family: 'Poppins', sans-serif;
      font-weight: 400;
    }

    h1, h2, h3, h4, h5 {
      font-family: 'Poppins', sans-serif;
      font-weight: 700;
    }

    html {font-size: 100%;} /* 16px */

    h1 {font-size: 4.210rem; /* 67.36px */}

    h2 {font-size: 3.158rem; /* 50.56px */}

    h3 {font-size: 2.369rem; /* 37.92px */}

    h4 {font-size: 1.777rem; /* 28.48px */}

    h5 {font-size: 1.3rem; /* 21.28px */}

    small {font-size: 0.85rem; /* 13px */}
  }
  
  @media (max-width: 640px) {
    h1 {font-size: 2.125rem; /* 67.36px */}
    h2 {font-size: 1.8rem; /* 32px */}
    h3 {font-size: 1.75rem; /* 28px */}
    h4 {font-size: 1.5rem; /* 24px */}
    h5 {font-size: 1.25rem; /* 20px */}
    small {font-size: 0.75rem; /* 12px */}
  }
  
  @media (min-width: 641px) and (max-width: 768px) {
    h1 {font-size: 2.7rem; /* 67.36px */}
    h2 {font-size: 2.5rem; /* 32px */}
    h3 {font-size: 2.125rem; /* 28px */}
    h4 {font-size: 1.625rem; /* 24px */}
    h5 {font-size: 1.75rem; /* 20px */}
    small {font-size: 0.8rem; /* 12px */}
  }
  
  @media (min-width: 769px) {
    .text-sm-desktop {
      font-size: 1.125rem; /* 18px */
    }
    .text-base-desktop {
      font-size: 1.25rem; /* 20px */
    }
    .text-lg-desktop {
      font-size: 1.5rem; /* 24px */
    }
  }