---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import '../styles/global.css';
import HeroSection from '../components/HeroSection.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<HeroSection></HeroSection>
	</main>
</Layout>

<style>
	main {
		
	}	
</style>
