---
import ParallaxLogo from "./ParrallaxLogo";
---

<section class="flex pt-10 justify-center">
    <div class=" w-full mx-auto  grid grid-cols-1 xl:grid-cols-2 md:p-20 items-center">
        <div class=" max-w-2xl px-4">
            <small class="text-text font-bold mx-1"></small>
            <h1 class=" text-gradient font-extrabold tracking-tight leading-none break-words whitespace-normal">Desarrollador Web</h1>
            <h5 class="text-text-subtitle max-w-xl mt-3 mx-1">Hola, Soy Carlos y desarrollo código para la web. Bienvenidos a mi portafolio </h5>
            <div class="flex items-center justify-start mt-6">
                <button type="button" class="focus:outline-none transform transition-transform hover:-translate-y-1 text-white bg-shades-secondary hover:bg-green-800 focus:ring-4 rounded-lg text-sm font-bold px-5 py-2.5 me-2 mb-2 ">
                    <p>Acerca de Mi</p>
                </button>
                <button type="button" class="focus:outline-none transform transition-all relative hover:shadow-gradient hover:-translate-y-1 text-white bg-shades-accent focus:ring-4 rounded-lg text-sm font-bold px-5 py-2.5 me-2 mb-2">
                    <p>Descarga mi CV</p>
                </button>
            </div>
        </div>
        <!-- Elemento grafico -->
        <div class="m-10 ">
            <ParallaxLogo client:load/>
        </div>
    </div>
    
</section>
