---

---

<section class="flex pt-10 justify-center">
    <div class="border w-full mx-auto p-8 grid grid-cols-1 md:grid-cols-2  items-center">
        <div class="border">
            <h5 class="text-text">Hola, soy Carlos</h5>
            <h1 class="text-gradient">Desarrollador Web</h1>
            <h4 class="text-text">Bienvenidos a mi portafolio como desarrollador web. </h4>
            <div class="flex items-centerjustify-start">
                <button type="button" class="focus:outline-none transform transition-transform hover:-translate-y-1 text-white bg-shades-secondary hover:bg-green-800 focus:ring-4 rounded-lg text-sm font-bold px-5 py-2.5 me-2 mb-2 ">
                    <p>Acerca de mi</p>
                </button>
                <button>2</button>
            </div>
        </div>
        <!-- Elemento grafico -->
        <div class="m-10 border">
            Elemento 2
        </div>
    </div>
    
</section>
