---

---

<section class="h-[100vh] bg-background">
    <h1>Welcome to Astro</hjson>
    <p>Build faster websites with less client-side Javascript</p>
    <button>Get Started</button>
</section>

<style>
    
</style>